.header {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1620px) {
        padding-left: 30px;
        padding-right: 30px;
    }
    @media (max-width: 991px) {
        margin-top: 20px;
    }
    @media (max-width: 600px) {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 10px;
    }

    .logoNavigation {
        display: flex;
        align-items: center;
        gap: 45px;

        .logo {
            @media (max-width: 600px) {
                width: 60px;
                height: 60px;
            }
        }

        .navigation {
            display: flex;
            gap: 30px;
            font-weight: 500;
            font-size: 22px;
            letter-spacing: 0.2em;
            text-transform: uppercase;

            @media (max-width: 1620px) {
                display: none;
            }

            a {
                transition: var(--transition);
                text-decoration: none;
                color: var(--black);

                &:hover {
                    color: var(--gray);
                }
            }
        }
    }

    .basketMenu {
        display: flex;
        gap: 20px;

        .basketWrapper {
            display: flex;
            align-items: center;
            gap: 10px;

            @media (max-width: 991px) {
                display: none;
            }

            .length {
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                font-size: 12px;
                background: var(--red);
                border-radius: 100px;
                color: var(--white);
            }

            .title {
                font-weight: 500;
                font-size: 22px;
                letter-spacing: 0.2em;
            }
        }

        .menuButton {
            background: none;
            border: none;
            cursor: pointer;
            line-height: 0;

            @media (max-width: 340px) {
                img {
                    width: 25px;
                    height: auto;
                }
            }
        }
    }
}
