.homeWrapper {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-top: 25px;
    align-items: center;

    @media (max-width: 1620px) {
        margin-left: 30px;
        margin-right: 30px;
    }
    @media (max-width: 700px) {
        grid-template-columns: 1fr;
    }
    @media (max-width: 600px) {
        margin-left: 15px;
        margin-right: 15px;
    }

    .leftCol {
        img {
            @media (max-width: 600px) {
                width: 160px;
                height: auto;
            }
        }

        a {
            display: block;
            width: 172px;
            margin-top: 20px;
            color: var(--gray);
            text-transform: uppercase;
            border-bottom: 2px solid var(--gray);
            padding-bottom: 3px;
            text-decoration: none;
            font-size: 20px;

            @media (max-width: 600px) {
                width: 138px;
                margin-top: 10px;
            }
        }
    }

    .rightCol {
        text-align: end;

        @media (max-width: 700px) {
            margin-top: 30px;
        }

        h1 {
            max-width: 750px;
        }

        .description {
            color: var(--gray);
            margin-top: 15px;
        }

        .magic {
            display: block;
            margin-left: auto;
            margin-top: 30px;
            width: 175px;
            color: var(--gray);
            text-transform: uppercase;
            border-bottom: 2px solid var(--gray);
            padding-bottom: 3px;
            text-decoration: none;
            font-size: 20px;
            margin-top: 20px;

            @media (max-width: 600px) {
                width: 140px;
                margin-top: 10px;
            }
        }
    }
}
