.activeBackground {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
}

.orders {
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 2;
    background: var(--white);
    padding-top: 30px;
    overflow-y: scroll;
    transition: 0.6s;

    @media (max-width: 600px) {
        padding-top: 10px;
    }

    &.ordersInactive {
        max-width: 0;
    }

    &.ordersActive {
        max-width: 470px;

        @media (max-width: 600px) {
            max-width: 280px;
        }
    }

    .top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        padding: 0 25px;
        white-space: nowrap;

        @media (max-width: 600px) {
            padding: 0 10px;
        }

        button {
            background: none;
            border: none;
            line-height: 0;
            cursor: pointer;
        }
    }

    .orderWrapper {
        display: flex;
        align-items: center;
        gap: 40px;
        padding: 0 25px 20px 25px;
        margin-top: 25px;
        border-bottom: 2px solid var(--gray-light);

        @media (max-width: 600px) {
            padding: 0 10px 7.5px 10px;
        }

        .title {
            font-weight: 800;
            font-size: 22px;
            line-height: 27px;
            letter-spacing: 0.125em;

            @media (max-width: 600px) {
                font-size: 16px;
                line-height: 20px;
            }
        }

        .size {
            text-transform: uppercase;
            margin-top: 25px;

            @media (max-width: 600px) {
                margin-top: 15px;
            }
        }

        .priceVolume {
            margin-top: 10px;

            @media (max-width: 600px) {
                margin-top: 5px;
            }
        }

        .controls {
            margin-top: 30px;
            display: grid;
            grid-template-columns: 45px auto 45px;
            gap: 20px;

            @media (max-width: 600px) {
                margin-top: 20px;
                grid-template-columns: 30px auto 30px;
                gap: 10px;
            }

            button {
                width: 45px;
                height: 45px;
                line-height: 0;
                background: var(--gray-dark);
                border-radius: 10px;
                border: none;
                font-size: 35px;
                line-height: 0;
                color: #878787;
                cursor: pointer;
                transition: var(--transition);

                @media (max-width: 600px) {
                    width: 30px;
                    height: 30px;
                    font-size: 24px;
                }

                &.inactive {
                    opacity: 0.4;
                }

                &:disabled {
                    cursor: auto;
                }

                &:hover {
                    background: var(--gray);
                    color: var(--white);

                    &.inactive {
                        background: var(--gray-dark);
                        color: #878787;
                    }
                }

                &:active {
                    background: var(--white);
                    color: #878787;
                }
            }

            .quantity {
                border: 2px solid #bcbcbc4d;
                border-radius: 10px;
                font-weight: 500;
                font-size: 22px;
                line-height: 27px;
                display: flex;
                align-items: center;
                justify-content: center;

                @media (max-width: 600px) {
                    font-size: 18px;
                }
            }
        }

        .removeAndPrice {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            white-space: nowrap;

            @media (max-width: 600px) {
                margin-top: 10px;
            }

            .remove {
                color: var(--red);
                cursor: pointer;
            }

            .price {
                border-top: 2px solid var(--gray-light);
                padding-top: 3px;
            }
        }
    }

    .paymentWrapper {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 25px 30px 25px;
        white-space: nowrap;

        @media (max-width: 600px) {
            padding: 0 10px 15px 10px;
        }

        .totalWrapper {
            width: 50px !important;
        }

        .total {
            margin-top: 10px;
            font-weight: 700;
            font-size: 22px;
            line-height: 27px;

            @media (max-width: 600px) {
                margin-top: 0;
                font-size: 18px;
            }
        }

        div:last-child {
            width: 200px;
            height: auto;
            display: block !important;

            div {
                &:first-child {
                    display: block !important;
                    height: auto;
                }

                &:last-child {
                    display: block !important;
                }
            }
        }
    }

    .nothing {
        padding-left: 25px;
        font-size: 22px;
        white-space: nowrap;

        @media (max-width: 600px) {
            padding-left: 10px;
            margin-top: -20px;
            font-size: 18px;
        }
    }
}
